# ==============================================================================
# JUNIPER cRPD MASTER BLUEPRINT - PART A (SYSTEM, SERVICES, & DENSE HOOKS)
# Node: R79 | AS: 701 | Technology: srv6
# ==============================================================================

version 24.2R1-S1.10;


groups {
    GR-SRV6 {
        routing-options {
            source-packet-routing {
                srv6 {
                    locator "MAIN" { micro-sid { flavor psp; flavor usd; } }
                    locator "LATENCY_1" { micro-sid { flavor psp; flavor usd; } }
                    locator "LATENCY_2" { micro-sid { flavor psp; flavor usd; } }
                    locator "LATENCY_3" { micro-sid { flavor psp; flavor usd; } }
                }
            }
        }
    }
}


system {
    host-name R79;
    domain-name ://verizon.com;
    
    login {
        message "\n************************* NOTICE *************************\nSRv6TEK Innovations Digital Twin Operating System\n************************* NOTICE *************************\n";
        user gyan {
            uid 2004;
            class super-user;
            authentication {
                encrypted-password "$6$Pmpd4Oqf$iNFLKUBgsQW53WTzWv0dKtxdHNyVOY4kMu2MGD.BDvLhglBAP6uK2mQTOndfcSli5Yi2kWWcle8lkhxhKNsqn/";
            }
        }
        user admin {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$6$z/xQ3aNP$WMKu3fO/CEUTubKgx1M2S3izpS/JHNbV72xKk90lvzYo1Qm38Uopc.tikNj5p3.LKyhtG/TdADbqhg1yF4qej/";
            }
        }
    }
    services {
        ssh {
            root-login allow;
            protocol-version v2;
        }
        netconf {
            ssh;
        }
    }
}

routing-instances {
    
    vrf_red {
        instance-type vrf;
        interface lo0.1;
        route-distinguisher 701:1;
        vrf-target target:1:1;
        routing-options {
            protect core;
            
            rib vrf_red.inet6.0 { protect core; }
            
        }
        protocols {
            bgp {
                
                source-packet-routing { srv6 { locator LATENCY_1 { micro-dt4-sid; micro-dt6-sid; } } }
                
            }
        }
    }
    vrf_green {
        instance-type vrf;
        interface lo0.2;
        route-distinguisher 701:2;
        vrf-target target:2:2;
        routing-options { protect core; }
        protocols {
            bgp {
                
                source-packet-routing { srv6 { locator LATENCY_2 { micro-dt4-sid; micro-dt6-sid; } } }
                
            }
        }
    }
    vrf_blue {
        instance-type vrf;
        interface lo0.3;
        route-distinguisher 701:3;
        vrf-target target:3:3;
        routing-options { protect core; }
        protocols {
            bgp {
                
                source-packet-routing { srv6 { locator LATENCY_3 { micro-dt4-sid; micro-dt6-sid; } } }
                
            }
        }
    }
    
    vrf_main {
        instance-type vrf;
        interface lo0.4;
        route-distinguisher 701:4;
        vrf-target target:4:4;
        routing-options { protect core; }
        protocols {
            bgp {
                source-packet-routing { srv6 { locator MAIN { micro-dt4-sid; micro-dt6-sid; } } }
            }
        }
    }
    
    
}
# --- JUNIPER cRPD MASTER BLUEPRINT - PART B (POLICIES, INTERFACES, HIGH-SPEED IS-IS & BGP) --- #

routing-options {
    router-id 10.0.0.79;
    
    source-packet-routing {
        srv6 {
            locator MAIN { prefix fc00:0:4f::/48; }
            locator LATENCY_1 { prefix fc00:128:4f::/48; }
            locator LATENCY_2 { prefix fc00:129:4f::/48; }
            locator LATENCY_3 { prefix ; }
        }
    }
    
}

policy-options {
    policy-statement SET_COLOR_ALL_VPNV4 {
        term red_v4 {
            from vrf vrf_red;
            then { community add COLOR_V4_10; accept; }
        }
        term green_v4 {
            from vrf vrf_green;
            then { community add COLOR_V4_20; accept; }
        }
        term blue_v4 {
            from vrf vrf_blue;
            then { community add COLOR_V4_30; accept; }
        }
        
        term main_v4 {
            from vrf vrf_main;
            then { community add COLOR_V4_40; accept; }
        }
        
        term next_policy { then accept; }
    }

    policy-statement SET_COLOR_ALL_VPNV6 {
        term red_v6 {
            from vrf vrf_red;
            then { community add COLOR_V6_100; accept; }
        }
        term green_v6 {
            from vrf vrf_green;
            then { community add COLOR_V6_200; accept; }
        }
        term blue_v6 {
            from vrf vrf_blue;
            then { community add COLOR_V6_300; accept; }
        }
        
        term main_v6 {
            from vrf vrf_main;
            then { community add COLOR_V6_400; accept; }
 warm       }
        
        term next_policy { then accept; }
    }

    community COLOR_V4_10 members color:0:10;
    community COLOR_V4_20 members color:0:20;
    community COLOR_V4_30 members color:0:30;
    community COLOR_V4_40 members color:0:40;
    community COLOR_V6_100 members color:0:100;
    community COLOR_V6_200 members color:0:200;
    community COLOR_V6_300 members color:0:300;
    community COLOR_V6_400 members color:0:400;
}

interfaces {
    lo0 {
        unit 0 {
            family inet6 { address fc00:0:4f::1/128; }
            family iso { address 49.0701.0000.0000.0079.00; }
        }
        
        unit 1 { family inet; family inet6; }
        unit 2 { family inet; family inet6; }
        unit 3 { family inet; family inet6; }
        unit 4 { family inet; family inet6; }
        
    }
    
    eth1 {
        description "HA Fabric Link (Unnumbered)";
        unit 0 {
            
            family inet6;
            
            family mpls;
            family iso;
        }
    }
    
    eth4 {
        description "Long-Haul Core Backhaul (Unnumbered)";
        unit 0 {
            
            family inet6;
            
            family mpls;
            family iso;
        }
    }
    
}

protocols {
    isis {
        level 2 { 
            wide-metrics-only; 
            
            lsp-throttle-interval 10;
        }
        affinity-map red bit-position 1;
        affinity-map green bit-position 2;
        affinity-map blue bit-position 3;

        
        interface eth1.0 {
            circuit-type level-2-only;
            point-to-point;
            hello-padding disable;
            affinity flex-algo red green blue;
            
            
            backup-spf-options {
                use-source-packet-routing;
                tie-breaker {
                    node-protection;
                    srlg-disjoint;
                }
            }
            
            family inet6 {
                fast-reroute;
            }

            
        }
        
        interface eth4.0 {
            circuit-type level-2-only;
            point-to-point;
            hello-padding disable;
            affinity flex-algo red green blue;
            
            
            backup-spf-options {
                use-source-packet-routing;
                tie-breaker {
                    node-protection;
                    srlg-disjoint;
                }
            }
            
            family inet6 {
                fast-reroute;
            }

            
        }
        
        interface lo0.0;
    }
    
    
    performance-measurement {
        delay-measurement {
            
            interface eth1 {
                static-delay 45000;
                advertise-delay 1000;
            }
            
            interface eth4 {
                static-delay 45000;
                advertise-delay 1000;
            }
            
        }
    }
    

    bgp {
        
        group RR-CLUSTER-PEERS {
            type internal;
            local-address fc00:0:4f::1;
            autonomous-system 701;
            multipath multiple-as;
            
            family inet-vpn { unicast; export SET_COLOR_ALL_VPNV4; }
            family inet6-vpn { unicast; export SET_COLOR_ALL_VPNV6; }
            family traffic-engineering { bgp-ls; }
            
            
            neighbor fc00:0:5f::1;
            
            neighbor fc00:0:60::1;
            
            neighbor fc00:0:61::1;
            
        }
        
        group INTER-AS-PE-PEERS {
            type external;
            local-address fc00:0:4f::1;
            multipath multiple-as;
            
            family inet-vpn { unicast; export SET_COLOR_ALL_VPNV4; }
            family inet6-vpn { unicast; export SET_COLOR_ALL_VPNV6; }
        }
        
    }
    
    
}