# ==============================================================================
# JUNIPER cRPD MASTER BLUEPRINT - PART A (SYSTEM, SERVICES, & DENSE HOOKS)
# Node: R71 | AS: 701 | Technology: rsvp-te
# ==============================================================================

version 24.2R1-S1.10;



system {
    host-name R71;
    domain-name ://verizon.com;
    
    login {
        message "\n************************* NOTICE *************************\nSRv6TEK Innovations Digital Twin Operating System\n************************* NOTICE *************************\n";
        user gyan {
            uid 2004;
            class super-user;
            authentication {
                encrypted-password "$6$Pmpd4Oqf$iNFLKUBgsQW53WTzWv0dKtxdHNyVOY4kMu2MGD.BDvLhglBAP6uK2mQTOndfcSli5Yi2kWWcle8lkhxhKNsqn/";
            }
        }
        user admin {
            uid 2002;
            class super-user;
            authentication {
                encrypted-password "$6$z/xQ3aNP$WMKu3fO/CEUTubKgx1M2S3izpS/JHNbV72xKk90lvzYo1Qm38Uopc.tikNj5p3.LKyhtG/TdADbqhg1yF4qej/";
            }
        }
    }
    services {
        ssh {
            root-login allow;
            protocol-version v2;
        }
        netconf {
            ssh;
        }
    }
}

routing-instances {
    
    vrf_red {
        instance-type vrf;
        interface lo0.1;
        route-distinguisher 701:1;
        vrf-target target:1:1;
        routing-options {
            protect core;
            
        }
        protocols {
            bgp {
                
            }
        }
    }
    vrf_green {
        instance-type vrf;
        interface lo0.2;
        route-distinguisher 701:2;
        vrf-target target:2:2;
        routing-options { protect core; }
        protocols {
            bgp {
                
            }
        }
    }
    vrf_blue {
        instance-type vrf;
        interface lo0.3;
        route-distinguisher 701:3;
        vrf-target target:3:3;
        routing-options { protect core; }
        protocols {
            bgp {
                
            }
        }
    }
    
    
}
# --- JUNIPER cRPD MASTER BLUEPRINT - PART B (POLICIES, INTERFACES, HIGH-SPEED IS-IS & BGP) --- #

routing-options {
    router-id 10.0.0.71;
    
}

policy-options {
    policy-statement SET_COLOR_ALL_VPNV4 {
        term red_v4 {
            from vrf vrf_red;
            then { community add COLOR_V4_10; accept; }
        }
        term green_v4 {
            from vrf vrf_green;
            then { community add COLOR_V4_20; accept; }
        }
        term blue_v4 {
            from vrf vrf_blue;
            then { community add COLOR_V4_30; accept; }
        }
        
        term next_policy { then accept; }
    }

    policy-statement SET_COLOR_ALL_VPNV6 {
        term red_v6 {
            from vrf vrf_red;
            then { community add COLOR_V6_100; accept; }
        }
        term green_v6 {
            from vrf vrf_green;
            then { community add COLOR_V6_200; accept; }
        }
        term blue_v6 {
            from vrf vrf_blue;
            then { community add COLOR_V6_300; accept; }
        }
        
        term next_policy { then accept; }
    }

    community COLOR_V4_10 members color:0:10;
    community COLOR_V4_20 members color:0:20;
    community COLOR_V4_30 members color:0:30;
    community COLOR_V4_40 members color:0:40;
    community COLOR_V6_100 members color:0:100;
    community COLOR_V6_200 members color:0:200;
    community COLOR_V6_300 members color:0:300;
    community COLOR_V6_400 members color:0:400;
}

interfaces {
    lo0 {
        unit 0 {
            family inet6 { address fc00:0:47::1/128; }
            family iso { address 49.0701.0000.0000.0071.00; }
        }
        
        unit 1 { family inet; family inet6; }
        unit 2 { family inet; family inet6; }
        unit 3 { family inet; family inet6; }
        unit 4 { family inet; family inet6; }
        
    }
    
    eth1 {
        description "HA Fabric Link (Unnumbered)";
        unit 0 {
            
            family inet6;
            
            family mpls;
            family iso;
        }
    }
    
    eth4 {
        description "Long-Haul Core Backhaul (Unnumbered)";
        unit 0 {
            
            family inet6;
            
            family mpls;
            family iso;
        }
    }
    
}

protocols {
    isis {
        level 2 { 
            wide-metrics-only; 
            
            lsp-throttle-interval 10;
        }
        affinity-map red bit-position 1;
        affinity-map green bit-position 2;
        affinity-map blue bit-position 3;

        
        interface eth1.0 {
            circuit-type level-2-only;
            point-to-point;
            hello-padding disable;
            affinity flex-algo red green blue;
            
            
            backup-spf-options {
                use-source-packet-routing;
                tie-breaker {
                    node-protection;
                    srlg-disjoint;
                }
            }
            
            family inet6 {
                fast-reroute;
            }

            
        }
        
        interface eth4.0 {
            circuit-type level-2-only;
            point-to-point;
            hello-padding disable;
            affinity flex-algo red green blue;
            
            
            backup-spf-options {
                use-source-packet-routing;
                tie-breaker {
                    node-protection;
                    srlg-disjoint;
                }
            }
            
            family inet6 {
                fast-reroute;
            }

            
        }
        
        interface lo0.0;
    }
    
    

    bgp {
        
        group RR-CLUSTER-PEERS {
            type internal;
            local-address fc00:0:47::1;
            autonomous-system 701;
            multipath multiple-as;
            
            family inet-vpn { unicast; export SET_COLOR_ALL_VPNV4; }
            family inet6-vpn { unicast; export SET_COLOR_ALL_VPNV6; }
            family traffic-engineering { bgp-ls; }
            
            
            neighbor fc00:0:5f::1;
            
            neighbor fc00:0:60::1;
            
            neighbor fc00:0:61::1;
            
        }
        
        group INTER-AS-PE-PEERS {
            type external;
            local-address fc00:0:47::1;
            multipath multiple-as;
            
            family inet-vpn { unicast; export SET_COLOR_ALL_VPNV4; }
            family inet6-vpn { unicast; export SET_COLOR_ALL_VPNV6; }
        }
        
    }
    
    
    mpls {
        oam;
        
        interface eth1.0;
        
        interface eth4.0;
        
        
        traffic-engineering-shortcuts;
        forwarding-adjacency;
        
    }
    
}